<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hao.wen.zhang.myview">

    <application
        android:allowBackup="true"

        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".BallActivity" />
        <activity android:name=".SelfViewActivity" >
           <!-- <intent-filter >
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->
        </activity>
        <activity android:name=".WaveActivity" />
        <activity android:name=".WatchActivity" />
        <activity android:name=".SortActivity" />
        <activity android:name=".RaderActivity" />
        <activity android:name=".TouchBallActivity" />
        <activity android:name=".PregressActivity" />
        <activity android:name=".TestViewActivity" />
        <activity android:name=".ShaderActivity" />
        <activity android:name=".PassWordActivity" />
    </application>

</manifest>